:root {
  --darkest: #2d2d2d;
  --medium: #222;
  --light: #b3b9c5;
  --lightest: #fff;
  --red: #f2777a;
  --orange: #fca369;
  --yellow: #ffd479;
  --light-yellow: #ffeea6;
  --green: #92d192;
  --blue: #6ab0f3;
  --aqua: #76d4d6;
  --purple: #e1a6f2;
  --beige: #ac8d58;
}
